/* css styles */
@font-face {
  font-family: "Karmina";
  src: url("assets/Karmina_Regular.otf") format("opentype");
}

.navbar {
  background-color: #bd5d38 !important;
}

#quarto-header {
  background-color: #bd5d38 !important;
}